<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Castle.Core" version="4.0.0" targetFramework="net461" />
  <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  <package id="Json.NET.Web" version="1.0.49" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.Core" version="2.2.1" targetFramework="net461" />
  <package id="Microsoft.AspNet.Identity.EntityFramework" version="2.2.1" targetFramework="net461" />
  <package id="Moq" version="4.7.0" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net461" />
  <package id="PagedList" version="1.17.0.0" targetFramework="net461" />
  <package id="PagedList.Mvc" version="4.5.0.0" targetFramework="net461" />
  <package id="Select.Pdf" version="17.3.0" targetFramework="net461" />
</packages>